.navbar{
  position: fixed;
    display:flex;
    align-items: center;

}
.sections{
    margin-left:40%;
     
    color:white;
}
 .sections div{
     padding:10px;
 }
 .logos{
    display: flex;
    margin-left:500px;
    
 }
 .logos img{
  padding:10px;
    width:20px;
    height:20px;
 }
 .logoimg{
   height:20px;
   padding-left: 20px;
   align-items: center;
 }
  .sections ul{
    list-style:none;
    display: flex;
 
     
  }
  .LINK:link{
    color: white;
    text-decoration: none;
   padding: 20px;

  }
  .LINK:visited{
    color:white;
  }
.LINK:hover{
  color:grey;
}


  .logos ul{
    list-style: none;
    display:flex;
  }