.footer{
    background-image: -webkit-linear-gradient(#111E25,#141A1F);
}
.footerlogo{
     position: relative;
     top:30px;
     right:50px;
    width:400px;
    height:60px;
    margin-left:0;
    align-items: center;
}
.footer hr{
    position: relative;
    top:200px;
  
}
 .footersec2{
    display:flex;
    align-items: center;
    top:10px;
 }
 .ios{
    width:200px;
    height:80px;
 }
 .playstore{
    width:300px;
  
 }
 .footer--store{
    margin:10px;
 }
 .footer--download{

    position :relative;
    top:80px;

 }
 .footer--logocontainer{
   height:100px;
 }
